.own{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:center;
    gap: 20px;
    flex-direction: row;
    overflow-y: hidden;
}
h1{
    margin-left: 30px;
}